.toast-container {
    position: fixed;
    top: 20px;
    right: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.toast {
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    min-width: 200px;
    text-align: center;
    font-weight: bold;
}

.toast-success {
    background-color: green;
}

.toast-error {
    background-color: red;
}

.toast-info {
    background-color: blue;
}